
/* Your CSS Code here. */
.holder{
    display: grid;
    grid-template-columns: repeat(2,200px);
}
.item-1{
    background-color: aqua;
    color:white;
}
.item-2{
    background-color: red;
    color:white;
}
.item-3{
    background-color: green;
    color:white;
}
.item-4{
    background-color:blue;
    color:white;
}
